<div class="footer border-top">
  <div class="footer-links">
    <a href="https://github.com/sabriderbala"><i class="fab fa-github"></i></a>
    <a href="https://fr.linkedin.com/in/sabri-derbala-4a3789173"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Sabri
  </div>
</div>
